/* NavBar */
.navbar{
  padding-bottom: 5.2rem;
  padding-left: 0;
}
.navbar-brand{
  font-size: 2.36rem;
  font-family: 'Ubuntu';
  font-weight: bold;
  color: white;
}
.nav-link{
font-size: 1.28rem;
font-weight: lighter;
margin: 0 1rem;
}


/* Title */

.iphone6{
  transform: rotate(25deg);
  width: 18rem;
  position: absolute;
  right: 95px;
}
.top-div{
  text-align: left;
}
.button{
  margin-right:20px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.hedding{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  line-height: 1.3;
  font-size:calc(55px + 0.5vw);
}

#title{
background-color: #ff4C68;
}

@media (max-width: 1050px) {
  .hedding{
  text-align: center;
  }
  .top-div{
  text-align: center;
  }
  .iphone6{
    position: static;
    transform: rotate(0deg);
    margin-top: 40px;
  }
  .button{
    margin: 30px;
  }
  #footer-title !important{
    padding: 60px 40px 20px;
    font-size: 4vw ;
  }
}
  /* Body */
body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container-edit{
  padding :3.7% 7.5% ;
}


 /* Fetures */
#features{
  padding: 4% 4%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.icon{
  color: #ef8172;
  size : 700px;
  padding-bottom: 4%;
}

.icon:hover{
  color: #ff4c68;
}

.feature-title{
font-weight: bold;
font-size: 35px;
font-family: 'Montserrat';
padding: 2% 1%;
}

.feature-discription{
  color: #8f8f8f;
}

.feature-center{
  padding: 8% 7%;
}


/* testimonials */
h2{
  font-weight: bold;
  color: white;
  padding: 6% 4%;
}

.testimonial-img{
border-radius: 100%;
margin: 5% 25px 25px ;
width: 12%;
min-width: 80px;
margin-bottom: 80px;
}

em{
  color: white;
}

#testimonials {
background-color: #ff4C68;
/* background-color: #ef8172; */

}

.carousel-box{
  padding: 12% 7%;
}

/* Press */
#press{
  background-color: #ff4C68;
  /* background-color: #ef8172; */
  padding: 7% 1.4rem;
}
.press-logo{
  padding: 25px;
}


/* Pricing */
#pricing{
  padding: 6% 3% 9%;
}
#pricing-title{
  font-weight: bold;
  color: #1b262c;
  padding: 6% 4%;
}
.carousel-box{
  padding: 2.5%;
}

.pricing-lable{
  color: black;
}

/* Footer */
#footer-title{
  font-size: 2.5rem;
  padding: 4% 4% 2.5%;
  font-weight: bold;
  color: white
}

#cta{
  background-color: #ff4C68;
}

#footer{
  padding: 40px;
  font-size: 15px;
  font-weight: lighter;
  color:  gray;
}

#footer .icon{
  margin: 20px;
  color: #373a40;
}

#footer .icon:hover{
  color: #111;
}
